.flashcard {
    perspective: 1000px;
    display: inline-block;
    margin: 10px;
    width: 300px;
    height: 200px;
  }
  
  .card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .front {
    background-color: #fff;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .back {
    transform: rotateY(180deg);
    background-color: #333;
    color: #fff;
    padding: 20px;
    font-size: 24px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .card.flipped {
    transform: rotateY(180deg);
  }
  